### 판다스 공부하기
책 따라서

In [1]:
import pandas as pd
# 판다스 선언하기

In [3]:
# csv : 열이 쉼표를 통해 정리되어 있는 데이터
# tsv : 열이 탭으로 정리되어 있는 데이터
df = pd.read_csv('../data/gapminder.tsv', sep='\t')
# tsv로 저장된 갭마인더 데이터 불러오기 
# csv / tsv는 값을 공유하기 때문에, sep구분자 옵션으로 tab 할당
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106