In [1]:
import re

In [2]:
s = '1234567890'

In [4]:
len(s)

10

In [7]:
ax = re.match(pattern='\d{10}', string = s)

In [8]:
ax

In [9]:
type(ax)

re.Match

In [10]:
bool(ax)

True

In [12]:
ax.group() if bool(ax) else "error"

'1234567890'

In [13]:
ax = False

In [14]:
ax.group() if bool(ax) else "error"

'error'

In [16]:
ax = re.match(pattern='\d{10}', string = s)

In [17]:
s[ax.start()]

'1'

In [19]:
s[ax.end() - 1]

'0'

In [20]:
ax.group()

'1234567890'

In [21]:
ax.start()

0

In [22]:
ax.end()

10

In [23]:
ax.span()

(0, 10)

In [24]:
ax.group()

'1234567890'

In [25]:
s = '123 456 7890'

In [26]:
re.match(pattern='\d{3}\s\d{3}\s\d{4}', string = s)

In [27]:
s = '(123) 456-7890'

In [28]:
re.match(pattern='\(\d{3}\)\s\d{3}\-\d{4}', string = s)

In [29]:
s = '+1 (123) 456-7890'

In [30]:
re.match(pattern='\+\d\s\(\d{3}\)\s\d{3}\-\d{4}', string = s)

In [31]:
p = re.compile('\d{10}')
p.match('1234567890')

In [35]:
my_exp = lambda x : x ** 2

In [36]:
my_exp_c = lambda x, n : x ** n

In [37]:
my_exp(4)

16

In [38]:
my_exp_c(2, 4)

16

In [34]:
def my_exp(x):
    return x ** 2
def my_exp_c(x, n):
    return x ** n

In [39]:
my_exp(4)

16

In [40]:
my_exp_c(2, 4)

16

In [41]:
import pandas as pd

In [42]:
df = pd.DataFrame({
    'a' : [10, 20, 30],
    'b' : [20, 30, 40]
})

In [43]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [44]:
df['a'] ** 2

0    100
1    400
2    900
Name: a, dtype: int64

In [45]:
df['a'].apply(my_exp)

0    100
1    400
2    900
Name: a, dtype: int64

In [46]:
df['a'].apply(my_exp_c, n = 2)

0    100
1    400
2    900
Name: a, dtype: int64

In [47]:
df['a'].apply(my_exp_c, n = 3)

0     1000
1     8000
2    27000
Name: a, dtype: int64

In [48]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [49]:
printme = lambda x: print(x)

In [50]:
df.apply(printme)

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64

a    None
b    None
dtype: object

In [52]:
df.apply(printme, axis = 0)

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64

a    None
b    None
dtype: object

In [53]:
df['a']

0    10
1    20
2    30
Name: a, dtype: int64

In [54]:
df['b']

0    20
1    30
2    40
Name: b, dtype: int64

In [55]:
def mymean(x):
    sum = 0
    for i in x:
        sum += i
    return sum / len(x)

In [ ]:
def mymena(x):
    sum = 0
    for i in x:
        sum += i
    return sum / df.shape[0]

In [56]:
df.apply(mymean)

a    20.0
b    30.0
dtype: float64

In [57]:
df.mean()

a    20.0
b    30.0
dtype: float64

In [58]:
df.apply(mymean, axis = 1)

0    15.0
1    25.0
2    35.0
dtype: float64

In [59]:
import numpy as np

In [60]:
df.apply(np.mean, axis = 1)

0    15.0
1    25.0
2    35.0
dtype: float64