### 리월

"리월"은 원신 게임에서 탐험할 수 있는 판타지 세계인 "티바트"의 일부입니다². 리월은 일곱 나라 중 하나로, 바위의 신 모라스가 지배하는 곳입니다². 이 도시는 번영과 번창의 상징이며, 바위의 힘이 가장 강하게 느껴지는 곳입니다². 리월은 동양적인 풍경과 아름다운 건축물로 유명하며, 다양한 퀘스트와 이벤트를 제공합니다¹². 이곳에서는 다양한 성격과 독특한 능력을 지닌 동료들을 만나고 강력한 적을 함께 무찌르는 여정을 나서게 됩니다².

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/phone.csv')
df

                 Phone
0        010-6256-3768
1        010.4356.3456
2  +82  (031) 539 1280
3         02-1111-2222
4        010 7657 3022
5   +82  (02) 456-4444
6          02 756 4566
7         064 245 2345

In [3]:
layla = list(df['Phone'])

In [4]:
layla

['010-6256-3768',
 '010.4356.3456',
 '+82  (031) 539 1280',
 '02-1111-2222',
 '010 7657 3022',
 '+82  (02) 456-4444',
 '02 756 4566',
 '064 245 2345']

In [6]:
import re

In [13]:
for i in layla:
    ax = re.match(pattern='(\+)?\d{2,3}[-.\s](\s\(\d{2,3}\)\s)?\d{3,4}[-.\s]\d{4}', string = str(i))
    print(i if bool(ax) else "Unmatched")

010-6256-3768
010.4356.3456
+82  (031) 539 1280
02-1111-2222
010 7657 3022
+82  (02) 456-4444
02 756 4566
064 245 2345

In [19]:
for i in layla:
    ax = re.match(pattern='(\+)?\d{2,3}[-.\s](\s\(\d{2,3}\)\s)?\d{3,4}[-.\s]\d{4}', string = str(i))
    print(i if bool(ax) else "Unmatched")

010-6256-3768
010.4356.3456
+82  (031) 539 1280
02-1111-2222
010 7657 3022
+82  (02) 456-4444
02 756 4566
064 245 2345