In [1]:
text = "레일라"

In [2]:
import re

In [3]:
re.match(pattern='\D{3}', string = '레일라')

In [5]:
re.search(pattern='\D{5}\s\D{2}\s\D{4}', string = 'Layla us Cute')

In [6]:
re.match(pattern='\D{5}\s\D{2}\s\D{4}', string = 'Layla us Cute')

In [7]:
re.fullmatch(pattern='\D{5}\s\D{2}\s\D{4}', string = 'Layla us Cute')

In [8]:
re.findall(pattern='\D{5}\s\D{2}\s\D{4}', string = 'Layla us Cute')

['Layla us Cute']

In [9]:
re.split(pattern='\D{5}\s\D{2}\s\D{4}', string = 'Layla us Cute')

['', '']

In [10]:
re.finditer(pattern='\D{5}\s\D{2}\s\D{4}', string = 'Layla us Cute')

In [11]:
re.sub('\D{5}\s\D{2}\s\D{4}', '-', string = 'Layla us Cute')

'-'

In [12]:
import pandas as pd

In [13]:
df = pd.read_csv('../data/phone.csv')

In [14]:
df

                 Phone
0        010-6256-3768
1        010.4356.3456
2  +82  (031) 539 1280
3         02-1111-2222
4        010 7657 3022
5   +82  (02) 456-4444
6          02 756 4566
7         064 245 2345

In [15]:
star = list(df['Phone'])

In [16]:
star

['010-6256-3768',
 '010.4356.3456',
 '+82  (031) 539 1280',
 '02-1111-2222',
 '010 7657 3022',
 '+82  (02) 456-4444',
 '02 756 4566',
 '064 245 2345']

In [22]:
for i in star:
    ax = re.match(pattern='(\+)?\d{2,3}[-.\s](\s\(\d{2,3}\)\s)?\d{3,4}[-.\s]\d{4}', string = str(i))
    print(i if bool(ax) else "error")

010-6256-3768
010.4356.3456
+82  (031) 539 1280
02-1111-2222
010 7657 3022
+82  (02) 456-4444
02 756 4566
064 245 2345

In [27]:
for i in star:
    ax = re.match(pattern='(\+)?\d{2,3}[-.\s](\s\(\d{2,3}\)\s)?\d{3,4}[-.\s]\d{4}', string = str(i))
#     test
    ax = False
    print(i if bool(ax) else "error")

error
error
error
error
error
error
error
error

In [23]:
loa = str(star)

In [26]:
re.findall(pattern='(\+)?\d{2,3}[-.\s](\s\(\d{2,3}\)\s)?\d{3,4}[-.\s]\d{4}', string = loa)

[('', ''),
 ('', ''),
 ('+', ' (031) '),
 ('', ''),
 ('', ''),
 ('+', ' (02) '),
 ('', ''),
 ('', '')]

In [25]:
for i in loa:
    re.findall(pattern='(\+)?\d{2,3}[-.\s](\s\(\d{2,3}\)\s)?\d{3,4}[-.\s]\d{4}', string = loa)