### 판다스 공부하기
책 따라서

In [1]:
import pandas as pd
# 판다스 선언하기

In [3]:
# csv : 열이 쉼표를 통해 정리되어 있는 데이터
# tsv : 열이 탭으로 정리되어 있는 데이터
df = pd.read_csv('../data/gapminder.tsv', sep='\t')
# tsv로 저장된 갭마인더 데이터 불러오기 
# csv / tsv는 값을 공유하기 때문에, sep구분자 옵션으로 tab 할당
df.head()
# 데이터를 불러와 위에서 5개 (기본) 불러오기

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [4]:
# 데이터의 자료형 출력 : type( )
type(df)

pandas.core.frame.DataFrame

In [5]:
# 행, 열의 데이터 보기
df.shape
# 속성이기 때문에, ( )가 없음

(1704, 6)

In [6]:
df.columns
# 데이터를 구성하는 열 살펴보기

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [7]:
# 데이터 프레임의 구성 자료형 보기
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [11]:
country_df

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [10]:
country_df = df['country']
country_df.value_counts()

Afghanistan          12
Pakistan             12
New Zealand          12
Nicaragua            12
Niger                12
                     ..
Eritrea              12
Equatorial Guinea    12
El Salvador          12
Egypt                12
Zimbabwe             12
Name: country, Length: 142, dtype: int64

In [12]:
type(country_df)
# 시리즈이기 때문에 tail , head 메서드 등을 사용할 수 있음

pandas.core.series.Series

In [13]:
country_df.head()

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [14]:
subset = df[['country', 'continent', 'year']]
subset

          country continent  year
0     Afghanistan      Asia  1952
1     Afghanistan      Asia  1957
2     Afghanistan      Asia  1962
3     Afghanistan      Asia  1967
4     Afghanistan      Asia  1972
...           ...       ...   ...
1699     Zimbabwe    Africa  1987
1700     Zimbabwe    Africa  1992
1701     Zimbabwe    Africa  1997
1702     Zimbabwe    Africa  2002
1703     Zimbabwe    Africa  2007

[1704 rows x 3 columns]

In [15]:
type(subset)
# 2개 이상의 열을 추출했기 때문에, 시리즈가 아닌 데이프레임을 얻을 수 있음!

pandas.core.frame.DataFrame

In [ ]:
# loc : 인덱스 기준
# iloc : 행 번호 기준