In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/gapminder.tsv', sep ='\t')

In [3]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [5]:
avg = df.groupby('year')['lifeExp'].mean()
avg

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [9]:
avg.info()

<class 'pandas.core.series.Series'>
Int64Index: 12 entries, 1952 to 2007
Series name: lifeExp
Non-Null Count  Dtype
--------------  -----
12 non-null     float64
dtypes: float64(1)
memory usage: 192.0 bytes

In [12]:
avg.keys()

Int64Index([1952, 1957, 1962, 1967, 1972, 1977, 1982, 1987, 1992, 1997, 2002,
            2007],
           dtype='int64', name='year')

In [11]:
avg.values

array([49.05761972, 51.50740113, 53.60924901, 55.67828958, 57.64738648,
       59.57015746, 61.53319718, 63.21261268, 64.16033803, 65.01467606,
       65.69492254, 67.00742254])

In [16]:
avg.loc[avg.keys() == 1957, ]

year
1957    51.507401
Name: lifeExp, dtype: float64