### Apply 데이터
> 대용량의 데이터를 처리할 때는 for문보다 빠르게 처리 가능

In [1]:
def y_sq(x):
    return x ** 2

In [12]:
y_sq(10)

100

In [9]:
lamda_y_sq = lambda x : x ** 2

In [10]:
lamda_y_sq(10)

100

In [5]:
y_sq(4)

16

In [ ]:
# 함수의 기본 구조 : def my_function():

In [6]:
lamda_y_sq(4)

16

In [13]:
def my_exp(x, n):
    return x ** n

In [14]:
lamda_my_exp = lambda x,n : x ** n

In [15]:
my_exp(3, 4)

81

In [17]:
lamda_my_exp(3, 4)

81

In [18]:
import pandas as pd

In [19]:
s = pd.Series([100, 200, 300])

In [20]:
s

0    100
1    200
2    300
dtype: int64

In [24]:
df = pd.DataFrame({
    'a' : [10, 20, 30],
    'b' : [20, 30, 40]
})

In [25]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [27]:
df['a'] * 2

0    20
1    40
2    60
Name: a, dtype: int64

In [29]:
df ** 2

     a     b
0  100   400
1  400   900
2  900  1600

SyntaxError: positional argument follows keyword argument (3570490727.py, line 1)