In [1]:
# 시리즈 다루기
import pandas as pd

df = pd.DataFrame({
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age' : [37, 61]
}, index=['Rosaline Franklin', 'William Gosset'], columns=['Occupation','Born','Died','Age'])
df

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

In [5]:
# 데이터프레임 시리즈 선택
first_row = df.loc['William Gosset']
print(first_row)
print(type(first_row))
# 문자열이 하나라도 있으면 int 형이라도 문자열로 인식!! (질문 / str = Object)

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object
<class 'pandas.core.series.Series'>

In [10]:
print(first_row.index)
print(first_row.keys())
# .index && keys() = 같은 역할!!

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')
Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [15]:
print(first_row.values)
# print(df.values)
# .values() = 시리즈의 데이터 불러오기

['Statistician' '1876-06-13' '1937-10-16' 61]

In [17]:
# 인덱스 속성의 0번째 데이터 출력하기
print(first_row.index[0])
# keys()를 이용한 0번째 데이터 출력하기
print(first_row.keys()[0])

Occupation
Occupation

In [18]:
# age 열 추출
ages = df['Age']
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [20]:
# 나이의 평균 구하기
print(ages.mean())

# 최소값 구하기
print(ages.min())

# 최대값 구하기
print(ages.max())

# 표준편차 구하기
print(ages.std())

# 중앙값 구하기
print(ages.median())

49.0
37
61
16.97056274847714
49.0