In [1]:
# 과학자 데이터셋 불러오기
import pandas as pd
# csv이기에 따로 t 주석이 없고 데이터셋 파일에 접근하기 위해 ../
df = pd.read_csv("../data/scientists.csv")

In [2]:
# 나이의 최대와 평균 구하기
ages = df['Age']
# 최대값 구하기
print(ages.max())
# 평균값 구하기
print(ages.mean())

90
59.125

In [3]:
# 평균보다 나이가 많은 사람 구하기
print(ages[ages > ages.mean()])
# [] 안에 if 식 같은 메소드 기록

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [5]:
print(ages[ages < ages.max()])
print(ages.max())

0    37
1    61
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64
90

In [8]:
print(ages > ages.mean())
# 조건식을 만족하는 결과만 추출
# @ 질문!! : 이 데이터가 하나의 시리즈로 존재하고 이 리스트와 df를 비교해서 데이터를 가져오는 건지 질문!!
print(type(ages > ages.mean())) # 시리즈 구조

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool
<class 'pandas.core.series.Series'>

In [9]:
# 수동 값 할당
manual = [True, True, False, False, True, True, False, True]
print(ages[manual])
# bool 리스트 탐색..?
# 브로드캐스팅 -> 데이터프레임에 있는 모든 데이터를 한 번에 연산하는 것
# 시리즈처럼 여러 개의 데이터를 가진 경우 -> 벡터
# 데이터의 단순 크기를 나타내면 -> 스칼라

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

In [11]:
print(ages)
# 같은 길이의 벡터로 더하기 & 곱하기 연산
print(ages + ages) # 37 + 37 ( n + n )
# 여러개의 데이터를 가진 경우 : 벡터
print(ages * ages) # 74x 74 ( n * n)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [13]:
# 벡터에 대한 스칼라 연산
print(ages + 100) # n + 100 

print(ages * 2) # n * 2

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [14]:
# 시리즈와 시리즈는 같은 인덱스의 값만 연산한다
# 즉 없는 값인 2~7은 NaN : 누락값 반환!!
print(ages + pd.Series([1, 100]))

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [15]:
SORT = ages.sort_index(ascending=False)
print(SORT)
print(ages)
# 위로 정렬, 아래로 정렬!!

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64
0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [19]:
rvc = ages.sort_index(ascending=False)
print(rvc)
print(ages)
# print(ages.nunique)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64
0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [21]:
print(ages * 2)     # 2배이기에 같음
print(ages + ages)  # 2배이기에 더한 것과 같음
print(ages + rvc)   # 역순과 일반 인덱스는 인덱스 + 인덱스(벡터) 이기에 같음!!
# 벡터이기에 인덱스의 값 끼리 계산하여 결과값이 같음!!

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [23]:
# 데이터프레임의 boollean 추출하기
# df의 age 행에서 age행의 평균보다 큰 값 출력
print(df['Age'].mean())
# 평균이 59.125 이기에 1~4 출력!!
print(df[df['Age'] > df['Age'].mean()])

59.125
                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [27]:
# bool 벡터의 길이가 데이터프레임의 길이보다 짧으면 bool 벡터의 길이만큼 연산
print(df)
print(df.loc[[True, True, False, True]])

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

IndexError: Boolean index has wrong length: 4 instead of 8

In [28]:
print(df * 2)
# 정수는 2를 곱하고, 문자는 두배가 된다!!
#  12 * 2(Scala) = 24
# 'NOA' * 2(Scala) = 'NOANOA'

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

In [32]:
# REVIEW , Reverse
Dieds = df['Died']
reverseds = Dieds.sort_index(ascending=False)
print(reverseds)
print(Dieds)

7    1855-02-23
6    1954-06-07
5    1858-06-16
4    1964-04-14
3    1934-07-04
2    1910-08-13
1    1937-10-16
0    1958-04-16
Name: Died, dtype: object
0    1958-04-16
1    1937-10-16
2    1910-08-13
3    1934-07-04
4    1964-04-14
5    1858-06-16
6    1954-06-07
7    1855-02-23
Name: Died, dtype: object

In [34]:
# 데이터프레임의 Bord, Died 열의 데이터 타입 확인
print(df['Born'].dtypes)
print(df['Died'].dtypes)
print(df[['Born','Died']])
# 날자를 문자열로 인식

object
object
         Born        Died
0  1920-07-25  1958-04-16
1  1876-06-13  1937-10-16
2  1820-05-12  1910-08-13
3  1867-11-07  1934-07-04
4  1907-05-27  1964-04-14
5  1813-03-15  1858-06-16
6  1912-06-23  1954-06-07
7  1777-04-30  1855-02-23

In [36]:
born_datetime = pd.to_datetime(df['Born'], format='%Y-%m-%d')
# born의 데이터 타입을 바꾸고 포멧 설정
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [37]:
died_datetime = pd.to_datetime(df['Died'], format='%Y-%m-%d')
print(died_datetime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [38]:
df['Born_dtypes'], df['Died_dtypes'] = (born_datetime, died_datetime)
print(df)
# 여러 열과 행을 한번에 추가하기

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

  Born_dtypes Died_dtypes
0  1920-07-25  1958-04-16
1  1876-06-13  1937-10-16
2  1820-05-12  1910-08-13
3  1867-11-07  1934-07-04
4  1907-05-27  1964-04-14
5  1813-03-15  1858-06-16
6  1912-06-23  1954-06-07
7  1777-04-30  1855-02-23

In [39]:
df['2_Born_Datetime'] = born_datetime
print(df)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

  Born_dtypes Died_dtypes 2_Born_Datetime
0  1920-07-25  1958-04-16      1920-07-25
1  1876-06-13  1937-10-16      1876-06-13
2  1820-05-12  1910-08-13      1820-05-12
3  1867-11-07  1934-07-04      1867-11-07
4  1907-05-27  1964-04-14      1907-05-27
5  1813-03-15  1858-06-16      1813-03-15
6  1912-06-23  1954-06-07      1912-06-23
7  1777-04-30  1855-02-23      1777-04-30

In [43]:
# 연산식 포함 데이터프레임 추가하기
df['life_time2'] = df['Died_dtypes'] - df['Born_dtypes']
print(df)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

  Born_dtypes Died_dtypes 2_Born_Datetime   life_time life_time2
0  1920-07-25  1958-04-16      1920-07-25 -13779 days 13779 days
1  1876-06-13  1937-10-16      1876-06-13 -22404 days 22404 days
2  1820-05-12  1910-08-13      1820-05-12 -32964 days 32964 days
3  1867-11-07  1934-07-04      1867-11-07 -24345 days 24345 days
4  1907-05-27  1964-04-14      1907-05-27 -20777 days 20777 days
5  1813-03-15  1858-06-16      1813-03-15 -16529 days 16529 days
6  1912-06-23  1954-06-07      1912-06-23 -15324 days 15324 days
7  1777-04-30  1855-02-23      1777-04-30 -28422 days 28422 days

In [47]:
# 랜덤으로 데이터 섞기
import random

random.seed(42)
# seed 메소드는 컴퓨터가 생성하는 난수의 기준값 정하기
shuffled = random.shuffle(df['Age'])
print(shuffled)
print(df['Age'])

None
0    90
1    56
2    77
3    61
4    45
5    66
6    41
7    37
Name: Age, dtype: int64

c:\Users\starl\AppData\Local\Programs\Python\Python311\Lib\random.py:383: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
c:\Users\starl\AppData\Local\Programs\Python\Python311\Lib\random.py:383: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
c:\Users\starl\AppData\Local\Programs\Python\Python311\Lib\random.py:383: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
c:\Users\starl\AppData\Local\Programs\Python\Python311\Lib\random.py:383: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
c:\Users\starl\AppData\Local\Programs\Python\Python311\Lib\random.py:383: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
c:\Users\starl\AppData\Local\Programs\Python\Python311\Lib\random.py:383: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
c:\Users\starl\AppData\Local\Programs\Python\Python311\Lib\random.py:383: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
c:\Users\starl\AppData\Local\Programs\Python\Python311\Lib\random.py:383: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
c:\Users\starl\AppData\Local\Programs\Python\Python311\Lib\random.py:383: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
c:\Users\starl\AppData\Local\Programs\Python\Python311\Lib\random.py:383: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
c:\Users\starl\AppData\Local\Programs\Python\Python311\Lib\random.py:383: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
c:\Users\starl\AppData\Local\Programs\Python\Python311\Lib\random.py:383: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
c:\Users\starl\AppData\Local\Programs\Python\Python311\Lib\random.py:383: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]
c:\Users\starl\AppData\Local\Programs\Python\Python311\Lib\random.py:383: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

In [48]:
# copy db
# 랜덤으로 데이터 섞기
import random
dfc = df['Age'].copy()
random.seed(42)
# seed 메소드는 컴퓨터가 생성하는 난수의 기준값 정하기
shuffled = random.shuffle(dfc)
print(shuffled)
print(df['Age'])

None
0    90
1    56
2    77
3    61
4    45
5    66
6    41
7    37
Name: Age, dtype: int64

In [53]:
# 데이터프레임의 열 삭제하기
print(df.columns)

dropped = df.drop(['life_time'], axis=1)
print(dropped)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'Born_dtypes',
       'Died_dtypes', '2_Born_Datetime', 'life_time', 'life_time2',
       'Shuffled_age'],
      dtype='object')
                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   90             Chemist
1        William Gosset  1876-06-13  1937-10-16   56        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   77               Nurse
3           Marie Curie  1867-11-07  1934-07-04   61             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   45           Biologist
5             John Snow  1813-03-15  1858-06-16   66           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   37       Mathematician

  Born_dtypes Died_dtypes 2_Born_Datetime life_time2 Shuffled_age
0  1920-07-25  1958-04-16      1920-07-25 13779 days         None
1  1876-06-13  1937-10-16      1876-06-13 22404 days         None
2  1820-05-12  1910-08-13      1820-05-12 32964 days         None
3  1867-11-07  1934-07-04      1867-11-07 24345 days         None
4  1907-05-27  1964-04-14      1907-05-27 20777 days         None
5  1813-03-15  1858-06-16      1813-03-15 16529 days         None
6  1912-06-23  1954-06-07      1912-06-23 15324 days         None
7  1777-04-30  1855-02-23      1777-04-30 28422 days         None

In [57]:
# 데이터 저장하고 불러오기
# 피클 : 데이터를 바이너리 형태로 직렬화된 오브젝트를 저장하는 기법
xs = df['Age']
xs.to_pickle('./pickple_save/series.pickle')

In [58]:
# 데이터프레임 피클로 저장하기
df.to_pickle('./pickple_save/dataframe.pickle')

In [59]:
# 피클 읽기 # read_csv랑 비슷한데 뒤에가 피클일 뿐!!
print(pd.read_pickle('./pickple_save/series.pickle'))
print(pd.read_pickle('./pickple_save/dataframe.pickle'))

0    90
1    56
2    77
3    61
4    45
5    66
6    41
7    37
Name: Age, dtype: int64
                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   90             Chemist
1        William Gosset  1876-06-13  1937-10-16   56        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   77               Nurse
3           Marie Curie  1867-11-07  1934-07-04   61             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   45           Biologist
5             John Snow  1813-03-15  1858-06-16   66           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   37       Mathematician

  Born_dtypes Died_dtypes 2_Born_Datetime   life_time life_time2 Shuffled_age
0  1920-07-25  1958-04-16      1920-07-25 -13779 days 13779 days         None
1  1876-06-13  1937-10-16      1876-06-13 -22404 days 22404 days         None
2  1820-05-12  1910-08-13      1820-05-12 -32964 days 32964 days         None
3  1867-11-07  1934-07-04      1867-11-07 -24345 days 24345 days         None
4  1907-05-27  1964-04-14      1907-05-27 -20777 days 20777 days         None
5  1813-03-15  1858-06-16      1813-03-15 -16529 days 16529 days         None
6  1912-06-23  1954-06-07      1912-06-23 -15324 days 15324 days         None
7  1777-04-30  1855-02-23      1777-04-30 -28422 days 28422 days         None

In [60]:
# csv로 데이터 저장하기
df.to_csv('./csv_save/dataframe.csv')

In [61]:
# TSV 데이터 저장하기
df.to_csv('./tsv_save/dataframe.tsv', sep='\t')

In [62]:
# 패키지 설치
import os
os.system('pip install xlwt')
os.system('pip install openpyxl')

0

In [67]:
# 엑셀로 데이터 저장하기
import xlwt
import openpyxl

names = df['Name']
# 네임 시리즈 추출하기
print(type(names))
df_names = names.to_frame()
print(type(df_names))
# 시리즈 데이터프레임으로 변환
df_names.to_excel('./excel_save/dataframe.xls')
df_names.to_excel('./excel_save/dataframe.xlsx')

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

ValueError: No engine for filetype: 'xls'