In [2]:
%matplotlib inline
import pandas as pd
# 나만의 데이터 만들기!

s = pd.Series(['noa', 20]) 
# 'noa' 인덱스에 정수 20데이터 넣기
# 데이터가 하나이기에 시리즈로 분류됨!!
# Series는 반드시 'S' 대문자 활용!!

print(s)
print(type(s))

0    noa
1     20
dtype: object
<class 'pandas.core.series.Series'>

In [5]:
# Series 생성 시, 문자열을 인덱스로 전달하기!!
# 문자열을 인덱스로 전달할 때, 반드시 리스트!!
s = pd.Series(['Noa', 'Millenium'], index=['Name','University'])
print(s)
print(s.dtype)
# object = 문자 자료형

Name                Noa
University    Millenium
dtype: object
object

In [7]:
# 데이터프레임 생성하기!!
# 데이터 프레임은 { }필수!!
# 약간 json 타입 닮음
# 데이터프레임 생성시 pd.DataFrame({"key":[value!]})

df = pd.DataFrame({
    'Name' : ['Noa', 'Layla', 'Utaha'],
    'Occuption' : ['Student', 'Scientist', 'Chemist'],
    'Born' : ['1920-07-25','1876-06-13', '2004-10-05'],
    'Died' : ['1958-04-16', '1999-10-16', 'live'],
    'Age' : [19, 20, 18]
})
print(df)
print(type(df))

    Name  Occuption        Born        Died  Age
0    Noa    Student  1920-07-25  1958-04-16   19
1  Layla  Scientist  1876-06-13  1999-10-16   20
2  Utaha    Chemist  2004-10-05        live   18
<class 'pandas.core.frame.DataFrame'>

In [14]:
# 데이터프레임 행, 열 지정하기!!
# 행(세로)는 index, 열(column, 가로)
import pandas as pd

df = pd.DataFrame(data={
    "Occupation" : ['Chemist', 'Statistician'],
    "Born" : ['1920-07-25', '1876-06-13'],
    "died" : ['1958-04-16', '1037-10-16'],
    "Age" : [37, 61]
},index=['Rosaline Franklin', 'William Gosset'], columns=['Occupation', 'Born', 'Age','Died'])
print(df)
# index, 행 - columns, 열
# 데이터의 순서는 columns의 값을 따라감!!

print("column 미지정")
df = pd.DataFrame(data={
    "Occupation" : ['Chemist', 'Statistician'],
    "Born" : ['1920-07-25', '1876-06-13'],
    "died" : ['1958-04-16', '1037-10-16'],
    "Age" : [37, 61]
},index=['Rosaline Franklin', 'William Gosset'])
print(df)

# Died, Age의 순서가 다름!!

                     Occupation        Born  Age Died
Rosaline Franklin       Chemist  1920-07-25   37  NaN
William Gosset     Statistician  1876-06-13   61  NaN
column 미지정
                     Occupation        Born        died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1037-10-16   61

In [18]:
# 딕셔너리는 데이터프레임을 만들 때, 데이터의 순서를 보장하지 않음!!
# 데이터 순서를 보전하고 싶다면 OrderedDict를 사용해야 한다!!
# OrderDict는 일종의 key:value 대신 사용하는 데이터의 집합 느낌

from collections import OrderedDict

scienttists = pd.DataFrame(OrderedDict([
    ('Name', ['Rosaline', 'Franklin']),
    ('Occupation', ['Chemist', 'Statistician']),
    ('Born', ['1920-07-25', '1876-06-13']),
    ('Died', ['1958-04-16', '1937-10-16']),
    ('Age' , [37, 61])
]), index=["test1", "test2"])

print(scienttists)
print(type(scienttists))
# 물론 index변경 사용가능!!

           Name    Occupation        Born        Died  Age
test1  Rosaline       Chemist  1920-07-25  1958-04-16   37
test2  Franklin  Statistician  1876-06-13  1937-10-16   61
<class 'pandas.core.frame.DataFrame'>

In [7]:
# day2
import pandas as pd
# 시리즈 데이터 다루기
df = pd.DataFrame({
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age' : [37, 61]
}, index=['Rosaline Franklin','William Gosset'], columns=['Occupation','Born','Died','Age'])

# 시리즈 선택
first_row = df.iloc[0]
print(type(first_row))
print(first_row)

<class 'pandas.core.series.Series'>
Occupation       Chemist
Born          1920-07-25
Died          1958-04-16
Age                   37
Name: Rosaline Franklin, dtype: object

In [9]:
# 시리즈, 인덱스 가져오기
series_index = df.columns
print(series_index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [35]:
import pandas as pd
# 시리즈 데이터 다루기
df = pd.DataFrame({
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age' : [37, 61]
}, index=['Rosaline Franklin', 'William Gosset'], columns=['Occupation', 'Born', 'Died', 'Age'])
first_row = df.iloc[0]
print(type(first_row))

print(first_row)
print(first_row.index)

<class 'pandas.core.series.Series'>
Occupation       Chemist
Born          1920-07-25
Died          1958-04-16
Age                   37
Name: Rosaline Franklin, dtype: object
Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [23]:
# values는 시리즈의 데이터가 저장된다!!
print(first_row.values)

['Chemist' '1920-07-25' '1958-04-16' 37]

In [27]:
# key()는 인덱스와 동일한 역할!!
print(first_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [30]:
# [0] 으로 인덱스 슬라이싱으로 인덱스의 첫 번쨰 값 출력하기
print(first_row.keys()[0])
print(first_row.keys())

print(first_row.keys()[1])

Occupation
Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')
Born

In [36]:
# 데이터프레임의 AGE 행 데이터 가져오기
ages = df['Age']
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [37]:
# 시리즈 구성 데이터가 정수일 때, MEAN, min, max, std 통계 사용 가능
print(ages.mean())
print(ages.max())
print(ages.min())
print(ages.std())

49.0
61
37
16.97056274847714