### Apply 데이터
> 대용량의 데이터를 처리할 때는 for문보다 빠르게 처리 가능

In [1]:
def y_sq(x):
    return x ** 2

In [12]:
y_sq(10)

100

In [9]:
lamda_y_sq = lambda x : x ** 2

In [10]:
lamda_y_sq(10)

100

In [5]:
y_sq(4)

16

In [ ]:
# 함수의 기본 구조 : def my_function():

In [6]:
lamda_y_sq(4)

16

In [13]:
def my_exp(x, n):
    return x ** n

In [14]:
lamda_my_exp = lambda x,n : x ** n

In [15]:
my_exp(3, 4)

81

In [17]:
lamda_my_exp(3, 4)

81

In [18]:
import pandas as pd

In [19]:
s = pd.Series([100, 200, 300])

In [20]:
s

0    100
1    200
2    300
dtype: int64

In [24]:
df = pd.DataFrame({
    'a' : [10, 20, 30],
    'b' : [20, 30, 40]
})

In [25]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [27]:
df['a'] * 2

0    20
1    40
2    60
Name: a, dtype: int64

In [29]:
df ** 2

     a     b
0  100   400
1  400   900
2  900  1600

In [37]:
def my_sq(x):
    return x ** 2

In [40]:
sq = df.a.apply(my_sq)
sq

0    100
1    400
2    900
Name: a, dtype: int64

In [42]:
ex = df.a.apply(my_exp, n = 2)
ex

0    100
1    400
2    900
Name: a, dtype: int64

In [44]:
exu = df.a.apply(lambda x, n : x ** n, n = 2)
exu

0    100
1    400
2    900
Name: a, dtype: int64

In [46]:
model = lambda x, n : x ** n

In [48]:
model = lambda x, n : x ** n
exu = df.a.apply(model, n = 3)
exu

0     1000
1     8000
2    27000
Name: a, dtype: int64

In [49]:
print_me = lambda x : print(x)

In [50]:
print_me(exu)

0     1000
1     8000
2    27000
Name: a, dtype: int64

In [51]:
def print_me(x):
    print(x)

In [52]:
print_me(exu)

0     1000
1     8000
2    27000
Name: a, dtype: int64

In [54]:
df.apply(print_me, axis=0)

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64

a    None
b    None
dtype: object

In [55]:
df.apply(print_me, axis=1)

a    10
b    20
Name: 0, dtype: int64
a    20
b    30
Name: 1, dtype: int64
a    30
b    40
Name: 2, dtype: int64

0    None
1    None
2    None
dtype: object

In [56]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [59]:
def meaner(x):
    return x.mean()

In [58]:
df.apply(lambda x : x.mean(), axis=0)

a    20.0
b    30.0
dtype: float64

In [60]:
df.apply(meaner, axis=0)

a    20.0
b    30.0
dtype: float64

In [61]:
avg = lambda x, y, z : (x + y + z) / 3

In [63]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [67]:
df.apply(avg, x=df.loc[0], y=df.loc[1], z=df.loc[2])

TypeError: <lambda>() got multiple values for argument 'x'

In [68]:
def avg(col):
    x = col[0]
    y = col[1]
    z = col[2]
    return (x + y + z) / 3

In [72]:
df.apply(avg, axis=0)

a    20.0
b    30.0
dtype: float64

In [74]:
def avg(col):
    sum = 0
    for i in col:
        sum += i
    return sum / df.shape[0]

df.apply(avg, axis=0)

a    20.0
b    30.0
dtype: float64

In [76]:
df.shape[0]

3

In [77]:
def test(col):
    for i in col:
        print(i)

test(df)

a
b

In [78]:
df.apply(test, axis=0)

10
20
30
20
30
40

a    None
b    None
dtype: object

In [ ]:
def avg(col):
    sum = 0
    for i in col:
        sum += i
    return sum / df.shape[0]

df.apply(avg, axis=0)

In [96]:
def avg(row):
    sum = 0
    for i in row:
        sum += i
    return sum / row.shape[1]

df.apply(avg, axis=1)

IndexError: tuple index out of range

In [ ]:
# 고급 apply 사용하기
# 데이터프레임의 누락값 처리하기

In [97]:
import seaborn as sns

In [99]:
df = sns.load_dataset('titanic')

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [102]:
print(df.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [103]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [104]:
df.interpolate()

ValueError: Invalid fill method. Expecting pad (ffill) or backfill (bfill). Got linear

In [105]:
import numpy as np

In [108]:
def count_null(x):
    null_x = pd.isnull(x)
    count_null = np.sum(null_x)
    return count_null

In [110]:
sum_null = df.apply(count_null)
sum_null

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [113]:
df.shape

(891, 15)

In [ ]:
def count_null(x):
    null_x = pd.isnull(x)
    count_null = np.sum(null_x)
    return count_null

In [116]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [118]:
df.size

13365

In [119]:
titanic = sns.load_dataset("titanic")

In [121]:
def prop_null(X):
    tot_num = X.isnull().sum()
    dem = X.size
    return tot_num / dem

per_null = titanic.apply(prop_null)
per_null

survived       0.000000
pclass         0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
fare           0.000000
embarked       0.002245
class          0.000000
who            0.000000
adult_male     0.000000
deck           0.772166
embark_town    0.002245
alive          0.000000
alone          0.000000
dtype: float64