### 페보니우스 기사단

페보니우스 기사단은 원신 게임 내에서 중요한 역할을 하는 조직입니다. 이 기사단은 몬드성을 지키는 역할을 하며, 그들의 임무는 평화를 유지하고, 시민들을 보호하며, 세계의 균형을 유지하는 것입니다¹. 

페보니우스 기사단의 일원들은 각자 다양한 직무를 맡고 있습니다. 예를 들어, 진은 단장 대행으로 활동하고 있으며, 리사는 도서관 사서로, 케이아는 기병대 대장으로, 그리고 엠버는 정찰 기사로 활동하고 있습니다¹.

페보니우스 기사단은 또한 다양한 무기를 사용합니다. 예를 들어, 페보니우스 비전은 학자들 사이에서 전해 내려오는 비전으로, 원소와 물질의 이치와 힘을 기술하고 있습니다². 페보니우스 장창은 제식용 창으로, 곧게 선 창대에 창 끝으로 산들바람이 넘실댄다³. 페보니우스 활은 제식 곡궁으로, 사격술이 뛰어나고 복무한 지 오래된 우수 궁수에게만 수여됩니다⁴.

페보니우스 기사단은 또한 기사단 매뉴얼 문답이라는 일일 임무를 제공합니다. 이 임무는 몬드성 정문을 지키는 페보니우스 기사 스완으로부터 시작되며, 기사로서 지켜야 할 규칙과 일상 지식에 대한 질문과 답변을 통해 작은 선물을 받을 수 있습니다⁵.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/gapminder.tsv', sep = '\t')

In [3]:
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [4]:
df.count()
# 누락값을 제외한 데이터 수 반환

country      1704
continent    1704
year         1704
lifeExp      1704
pop          1704
gdpPercap    1704
dtype: int64

In [6]:
df.size
# 누락값을 포함하는 전체 데이터 반환

10224

In [7]:
df.mean()
# 데이터의 평균값 반환

C:\Users\starl\AppData\Local\Temp\ipykernel_33332\2259591163.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

year         1.979500e+03
lifeExp      5.947444e+01
pop          2.960121e+07
gdpPercap    7.215327e+03
dtype: float64

In [8]:
df.std()

C:\Users\starl\AppData\Local\Temp\ipykernel_33332\3390915376.py:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.std()

year         1.726533e+01
lifeExp      1.291711e+01
pop          1.061579e+08
gdpPercap    9.857455e+03
dtype: float64

In [9]:
df.min()

country      Afghanistan
continent         Africa
year                1952
lifeExp           23.599
pop                60011
gdpPercap     241.165876
dtype: object

In [10]:
import numpy as np

In [11]:
np.quantile(q = 0.25)

TypeError: quantile() missing 1 required positional argument: 'a'

In [12]:
np.quantile(q = 0.50
           )

TypeError: quantile() missing 1 required positional argument: 'a'

In [13]:
np.quantile(q = 0.75)

TypeError: quantile() missing 1 required positional argument: 'a'

In [14]:
df.max()

country         Zimbabwe
continent        Oceania
year                2007
lifeExp           82.603
pop           1318683096
gdpPercap    113523.1329
dtype: object

In [15]:
df.sum()

country      AfghanistanAfghanistanAfghanistanAfghanistanAf...
continent    AsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAs...
year                                                   3373068
lifeExp                                           101344.44468
pop                                                50440465801
gdpPercap                                      12294917.346386
dtype: object

In [16]:
df.var()

C:\Users\starl\AppData\Local\Temp\ipykernel_33332\1568254755.py:1: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.var()

year         2.980916e+02
lifeExp      1.668517e+02
pop          1.126950e+16
gdpPercap    9.716941e+07
dtype: float64

In [17]:
df.std()

C:\Users\starl\AppData\Local\Temp\ipykernel_33332\3390915376.py:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.std()

year         1.726533e+01
lifeExp      1.291711e+01
pop          1.061579e+08
gdpPercap    9.857455e+03
dtype: float64

In [18]:
df.sem()

C:\Users\starl\AppData\Local\Temp\ipykernel_33332\1459226325.py:1: FutureWarning: The default value of numeric_only in DataFrame.sem is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.sem()

year         4.182540e-01
lifeExp      3.129179e-01
pop          2.571683e+06
gdpPercap    2.387976e+02
dtype: float64

In [19]:
df.describe()

             year      lifeExp           pop      gdpPercap
count  1704.00000  1704.000000  1.704000e+03    1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081
std      17.26533    12.917107  1.061579e+08    9857.454543
min    1952.00000    23.599000  6.001100e+04     241.165876
25%    1965.75000    48.198000  2.793664e+06    1202.060309
50%    1979.50000    60.712500  7.023596e+06    3531.846988
75%    1993.25000    70.845500  1.958522e+07    9325.462346
max    2007.00000    82.603000  1.318683e+09  113523.132900

In [20]:
df.first

<bound method NDFrame.first of           country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]>

In [22]:
df.last

<bound method NDFrame.last of           country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]>

In [25]:
type(df.last)

method

In [26]:
df.nth

AttributeError: 'DataFrame' object has no attribute 'nth'