In [10]:
# !pip install pandas

Requirement already satisfied: pandas in c:\users\starl\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\starl\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\starl\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\starl\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\starl\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [13]:
import pandas
df = pandas.read_csv('../data/gapminder.tsv', sep='\t')
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [3]:
import pandas as pd
# pandas = 데이터를 로딩하는데 사용하는 패키지
# 판다스라는 패키지를 불러와 pd로 단축 코드로 저장한다

df = pd.read_csv('../data/gapminder.tsv', sep='\t')
# read_csv로 데이터 불러오기 , 중요 = sep = '\t'

print(df.head())
# head, tail / 상위 하위 5개 데이터 불러오기

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [4]:
print(type(df))
# 데이터의 타입 알아보기

<class 'pandas.core.frame.DataFrame'>

In [5]:
print(df.shape)
# 데이터의 모양 가져오기

(1704, 6)

In [9]:
print(df.columns)
# 데이터의 가로열 인덱스 가져오기

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [12]:
print(df['country'])

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [10]:
print(df.dtypes)
# object : 문자열
# 두 개의 문자열, 등 ( 이걸로 분석 기법을 캐치 가능해야 함 )

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [18]:
# 열 단위 데이터 출력하기
country_df = df['country']
print(country_df)

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [19]:
# 출력되는 데이터의 타입은 Series! ( 작은 df )
print(type(country_df))

<class 'pandas.core.series.Series'>

In [21]:
print(country_df.head())
print(country_df.tail())

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object
1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [26]:
subset = df[['country', 'continent','year']]
print(subset)

          country continent  year
0     Afghanistan      Asia  1952
1     Afghanistan      Asia  1957
2     Afghanistan      Asia  1962
3     Afghanistan      Asia  1967
4     Afghanistan      Asia  1972
...           ...       ...   ...
1699     Zimbabwe    Africa  1987
1700     Zimbabwe    Africa  1992
1701     Zimbabwe    Africa  1997
1702     Zimbabwe    Africa  2002
1703     Zimbabwe    Africa  2007

[1704 rows x 3 columns]

In [29]:
print(df.loc[5])
# 열에서 x번째 줄 데이터만 불러오기 ( index 기반)
print(type(df.loc[5]))
# 인덱스가 5인 데이터 출력

country      Afghanistan
continent           Asia
year                1977
lifeExp           38.438
pop             14880372
gdpPercap      786.11336
Name: 5, dtype: object
<class 'pandas.core.series.Series'>

In [30]:
# 데이터 여러개 가져오기
print(df.loc[[5, 29, 1]])

        country continent  year  lifeExp       pop    gdpPercap
5   Afghanistan      Asia  1977   38.438  14880372   786.113360
29      Algeria    Africa  1977   58.014  17152804  4910.416756
1   Afghanistan      Asia  1957   30.332   9240934   820.853030

In [ ]:
# 교재, 35p