In [1]:
word = 'grail'
sent = 'a scratch'

In [2]:
word[0]

'g'

In [3]:
sent[0]

'a'

In [4]:
sent[:1]

'a'

In [5]:
sent[-1]

'h'

In [9]:
sent[-7:-1]

'scratc'

In [11]:
sent[2:len(sent)]

'scratch'

In [12]:
sent[-9:-8]

'a'

In [13]:
sent[0:-8]

'a'

In [14]:
sent[-2:-1]

'c'

In [15]:
sent[2:-1]

'scratc'

In [16]:
sent[-7:-1]

'scratc'

In [17]:
s_len = len(sent)
s_len

9

In [18]:
sent[2:s_len]

'scratch'

In [19]:
word[0:3]

'gra'

In [20]:
word[:3]

'gra'

In [21]:
sent[2:]

'scratch'

In [22]:
sent[ : ]

'a scratch'

In [23]:
sent[::2]

'asrth'

In [24]:
"Black Knight".capitalize()

'Black knight'

In [25]:
"It's just a flesh wound".count("u")

2

In [27]:
"Halt! Who goes there?".startswith("Halt")""

True

In [29]:
"coconut".endswith("nut")

True

In [30]:
"It's just a flesh wound".find("u")

6

In [33]:
"It's just a flesh wound".index("u")

6

In [32]:
"It's just a flesh wound".index("tensor")

ValueError: substring not found

In [34]:
"Old women".isalpha()

False

In [35]:
"1219".isdecimal()

True

In [36]:
"i'am 37".isalnum()

False

In [37]:
"Laylaiscute1219".isalnum()

True

In [38]:
"Black Knight".lower()

'black knight'

In [39]:
'Black Knight'.upper()

'BLACK KNIGHT'

In [40]:
"flesh wound!".replace("flesh wound", "scratch")

'scratch!'

In [43]:
" I'am not dead ".strip()

"I'am not dead"

In [44]:
"NI NI NI NI".split(" ")

['NI', 'NI', 'NI', 'NI']

In [45]:
"3,4".partition(',')

('3', ',', '4')

In [46]:
"nine".center(10)

'   nine   '

In [47]:
"9".zfill(5)

'00009'

In [48]:
d1 = '40c'
m1 = "46'"
s1 = '52.837"'
u1 = 'N'

d2 = '73c'
m2 = "58'"
s2 = '26.302"'
u2 = 'W'

" ".join([d1, m1, s1, u1, d2, m2, s2, u2])

'40c 46\' 52.837" N 73c 58\' 26.302" W'

In [49]:
multi_str = """Guard: What? Ridden en a horse?
King Arthur: Yes!
Guard: You're using coconuts!
King Arthur: What?
Guard: You've Got .. coconuts[s] and you're banagin's together
"""

In [50]:
multi_str.splitlines()

['Guard: What? Ridden en a horse?',
 'King Arthur: Yes!',
 "Guard: You're using coconuts!",
 'King Arthur: What?',
 "Guard: You've Got .. coconuts[s] and you're banagin's together"]

In [51]:
multi_str.splitlines()[::2]

['Guard: What? Ridden en a horse?',
 "Guard: You're using coconuts!",
 "Guard: You've Got .. coconuts[s] and you're banagin's together"]

In [53]:
multi_str.replace("Guard", "Lumine").splitlines()[::2]

['Lumine: What? Ridden en a horse?',
 "Lumine: You're using coconuts!",
 "Lumine: You've Got .. coconuts[s] and you're banagin's together"]

In [54]:
var = 'flesh wound'
s = "It's just a {}!"

In [55]:
s.format(var)

"It's just a flesh wound!"

In [56]:
s.format('Microsoft')

"It's just a Microsoft!"

In [58]:
"""Black Knight: 'Tis But a {0}.
King Arthur: A {0}? Your arm's off!
""".format("Scratch")

"Black Knight: 'Tis But a Scratch.\nKing Arthur: A Scratch? Your arm's off!\n"

In [59]:
"Hayden Planetraium Coordinates {lat}, {lon}".format(lat = '40.8715c', lon = '73.9733c')

'Hayden Planetraium Coordinates 40.8715c, 73.9733c'

In [62]:
'some digits of pi {}'.format(3.14159265359)

'some digits of pi 3.14159265359'

In [63]:
"In 2005, Lu Chao of China recited {:,} digits of pi".format(67890)

'In 2005, Lu Chao of China recited 67,890 digits of pi'

In [64]:
'I remember {0:.4} or {0:.4%} of what Lu Chao recited'.format(7/67890)

'I remember 0.0001031 or 0.0103% of what Lu Chao recited'

In [65]:
'My id code is {0:06d}'.format(12)

'My id code is 000012'

In [66]:
'I know only %d digits of pi' % 7

'I know only 7 digits of pi'

In [67]:
'Some digits of %(cont)s: %(value).2f' % ({'cont':'e','value':2.718})

'Some digits of e: 2.72'

In [68]:
var = 'flesh wound'
f"It's just a {var}"

"It's just a flesh wound"

In [69]:
lat = '40.7815cN'
lon = '73.9733oN'

In [70]:
f"Hayden Planetarium Coordinates : {lat}, {lon}"

'Hayden Planetarium Coordinates : 40.7815cN, 73.9733oN'

In [71]:
test = 'I like apple, i like to make application'

In [72]:
import re

In [74]:
re.search('[0-9]{4}', test).group()

AttributeError: 'NoneType' object has no attribute 'group'

In [75]:
solder = ' 1 2 3'
re.split(pattern='\s', string = solder)

['', '1', '2', '3']

In [76]:
tele_num = '1234567890'

In [77]:
len(tele_num)

10

In [79]:
ax  = re.match(pattern='\d{10}', string = tele_num)
ax

In [80]:
print(type(ax))

<class 're.Match'>

In [81]:
"match" if bool(ax) else "Unmatch"

'match'

In [82]:
ax.start()

0

In [83]:
ax.end()

10

In [89]:
ax.group()[ax.start()]

'1'

In [90]:
ax.group()

'1234567890'

In [91]:
ax.span()

(0, 10)

In [92]:
tele_num_spaces = "123 456 7890"

In [93]:
re.match(pattern='\d{3}\s\d{3}\s\d{4}', string = tele_num_spaces)

In [94]:
re.match(pattern='\d{3}\s?\d{3}\s?\d{4}', string = '1234567890')

In [95]:
tele_num_space_paren_dash = '(123) 456-7890'

In [101]:
re.match(pattern='(\()?\d{3}(\))?\s\d{3}\-\d{4}', string = tele_num_space_paren_dash)

In [104]:
re.match(pattern='\(?\d{3}\)?\s?\d{3}\s?-?\d{4}', string = '(123) 456-7890')

In [112]:
re.match(pattern='\(?\d{3}\)?\s?\d{3}\s?-?\d{4}', string = '1234567890')

In [116]:
rev = '01011'
rev2 = '010-11'
re.match(pattern='\d{3}(\-)?\d{2}', string = rev2)

In [117]:
core = ['1234567890','(123) 456-7890','+1 (123) 456-7890']

In [129]:
for i in core:
    ax = re.match(pattern='(\+\d\s)?(\()?\d{3}(\)\s)?\d{3}(\-)?\d{4}', string = str(i))
    print(i if bool(ax) else "unmatched")

1234567890
(123) 456-7890
+1 (123) 456-7890

In [130]:
p = re.compile('\d{10}')
p.match('1234567890')

In [131]:
def my_exp(x):
    return x ** 2

def my_exp_c(x, n):
    return x ** n

In [132]:
l_my_exp = lambda x : x ** 2
l_my_exp_c = lambda x, n : x ** n

In [133]:
my_exp(4)

16

In [134]:
my_exp_c(2,4)

16

In [135]:
l_my_exp(4)

16

In [136]:
l_my_exp_c(2, 4)

16

In [137]:
import pandas as pd

In [138]:
df = pd.DataFrame({
    'a' : [10, 20, 30],
    'b' : [20, 30, 40]
})

In [139]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [140]:
df['a'] ** 2

0    100
1    400
2    900
Name: a, dtype: int64

In [141]:
df['a'].apply(my_exp)

0    100
1    400
2    900
Name: a, dtype: int64

In [142]:
df['a'].apply(l_my_exp)

0    100
1    400
2    900
Name: a, dtype: int64

In [143]:
df['a'] ** 10

0        10000000000
1     10240000000000
2    590490000000000
Name: a, dtype: int64

In [144]:
df['a'].apply(my_exp_c, n = 10)

0        10000000000
1     10240000000000
2    590490000000000
Name: a, dtype: int64

In [145]:
df['a'].apply(l_my_exp_c, n = 10)

0        10000000000
1     10240000000000
2    590490000000000
Name: a, dtype: int64

In [146]:
printme = lambda x : print(x)

In [148]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [147]:
df.apply(printme)

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64

a    None
b    None
dtype: object

In [149]:
df.apply(printme, axis = 1)

a    10
b    20
Name: 0, dtype: int64
a    20
b    30
Name: 1, dtype: int64
a    30
b    40
Name: 2, dtype: int64

0    None
1    None
2    None
dtype: object

In [150]:
print(df['a'])

0    10
1    20
2    30
Name: a, dtype: int64

In [151]:
df.columns

Index(['a', 'b'], dtype='object')

In [152]:
df['a']

0    10
1    20
2    30
Name: a, dtype: int64

In [153]:
df['b']

0    20
1    30
2    40
Name: b, dtype: int64

In [154]:
def getmean(x):
    sum = 0
    for i in x:
        sum += i
    return sum / len(x)

In [155]:
df.apply(getmean)

a    20.0
b    30.0
dtype: float64

In [156]:
df.apply(getmean, axis =1 )

0    15.0
1    25.0
2    35.0
dtype: float64

In [157]:
import numpy as np

In [158]:
df.apply(np.mean)

a    20.0
b    30.0
dtype: float64

In [159]:
df.apply(np.mean, axis = 1)

0    15.0
1    25.0
2    35.0
dtype: float64

In [161]:
import seaborn as sns

In [162]:
df = sns.load_dataset("titanic")

In [163]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [165]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB