### 파일 이름의 유래

"천공의 검"은 원신이라는 게임에서 사용되는 5성 등급의 한손검입니다². 이 검은 바람 신의 축복을 받아 푸른 하늘과 바람의 힘을 지니고 있습니다². 초기 공격력은 46이며, 추가 능력치로 원소 충전 효율이 있습니다². 무기 스킬인 '높은 하늘을 뚫는 이빨'은 치명타 확률을 4% 증가시키며, 원소폭발 발동 시 파공의 기세를 획득하여 이동 속도와 공격 속도를 각각 10% 증가시킵니다². 또한, 일반 공격과 강공격이 명중 시 추가로 공격력 20%의 피해를 줍니다². 이 무기는 원신 게임 내에서 기원을 통해 획득할 수 있습니다².

이 무기는 베넷, 알베도, 진, 치치, 케이아, 행추 등의 캐릭터에게 권장되며, 특히 베넷에게 매우 유용하다고 알려져 있습니다¹². 이해가 되셨나요? 추가적인 질문이 있으시면 언제든지 말씀해주세요.

출처: Bing과의 대화, 2023. 12. 16.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/gapminder.tsv', sep = '\t')

In [5]:
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [6]:
df.count()

country      1704
continent    1704
year         1704
lifeExp      1704
pop          1704
gdpPercap    1704
dtype: int64

In [8]:
df.size

10224

In [9]:
df.mean()

C:\Users\starl\AppData\Local\Temp\ipykernel_27820\3698961737.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

year         1.979500e+03
lifeExp      5.947444e+01
pop          2.960121e+07
gdpPercap    7.215327e+03
dtype: float64

In [10]:
df.std()

C:\Users\starl\AppData\Local\Temp\ipykernel_27820\3390915376.py:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.std()

year         1.726533e+01
lifeExp      1.291711e+01
pop          1.061579e+08
gdpPercap    9.857455e+03
dtype: float64

In [11]:
df.min()

country      Afghanistan
continent         Africa
year                1952
lifeExp           23.599
pop                60011
gdpPercap     241.165876
dtype: object

In [12]:
import numpy as np

In [13]:
np.quantile(p=0.25)

TypeError: quantile() got an unexpected keyword argument 'p'

In [14]:
np.quantile(p = 0.50)

TypeError: quantile() got an unexpected keyword argument 'p'

In [15]:
np.quantile(p=0.75)

TypeError: quantile() got an unexpected keyword argument 'p'

In [16]:
df.max()

country         Zimbabwe
continent        Oceania
year                2007
lifeExp           82.603
pop           1318683096
gdpPercap    113523.1329
dtype: object

In [17]:
df.sum()

country      AfghanistanAfghanistanAfghanistanAfghanistanAf...
continent    AsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAsiaAs...
year                                                   3373068
lifeExp                                           101344.44468
pop                                                50440465801
gdpPercap                                      12294917.346386
dtype: object

In [18]:
df.var

<bound method NDFrame._add_numeric_operations.<locals>.var of           country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]>

In [19]:
df.sem()

C:\Users\starl\AppData\Local\Temp\ipykernel_27820\1459226325.py:1: FutureWarning: The default value of numeric_only in DataFrame.sem is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.sem()

year         4.182540e-01
lifeExp      3.129179e-01
pop          2.571683e+06
gdpPercap    2.387976e+02
dtype: float64

In [20]:
# 데이터에서 평균의 표준편차 : SEM

In [21]:
df.describe()

             year      lifeExp           pop      gdpPercap
count  1704.00000  1704.000000  1.704000e+03    1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081
std      17.26533    12.917107  1.061579e+08    9857.454543
min    1952.00000    23.599000  6.001100e+04     241.165876
25%    1965.75000    48.198000  2.793664e+06    1202.060309
50%    1979.50000    60.712500  7.023596e+06    3531.846988
75%    1993.25000    70.845500  1.958522e+07    9325.462346
max    2007.00000    82.603000  1.318683e+09  113523.132900

In [22]:
df.first()

TypeError: NDFrame.first() missing 1 required positional argument: 'offset'

In [23]:
df.last()

TypeError: NDFrame.last() missing 1 required positional argument: 'offset'

In [25]:
df.nth

AttributeError: 'DataFrame' object has no attribute 'nth'

In [26]:
# 데이터에서 n번째 행 반환
df.nth

AttributeError: 'DataFrame' object has no attribute 'nth'