In [2]:
import datetime
now = datetime.datetime.now()
print(now)

2023-11-22 09:36:07.577093

In [3]:
now2 = datetime.datetime.today()
print(now2)

2023-11-22 09:36:23.988999

In [6]:
print(str(now2)[0:10])

2023-11-22

In [11]:
import datetime as dt
dt.datetime.today()

datetime.datetime(2023, 11, 22, 9, 52, 13, 751695)

In [12]:
t1 = datetime.datetime.now()
# type : 년, 월, 일 , 시, 분, 초
t2 = datetime.datetime(1970, 1, 1)
t3 = datetime.datetime(1970, 12, 12, 13, 24, 34)
print(f"t1 : {t1} \nt2 : {t2}\nt3 : {t3}")

t1 : 2023-11-22 09:53:32.685342
t2 : 1970-01-01 00:00:00
t3 : 1970-12-12 13:24:34

In [14]:
diff = t1 - t2
print(diff)

19683 days, 9:53:32.685342