In [3]:
word = 'Layla'
sent = 'Layla is cute'

In [4]:
print(word[0])
print(sent[0])

L
L

In [5]:
sent[0:5]

'Layla'

In [6]:
'the layla is cute because she was cute'[0:]

'the layla is cute because she was cute'

In [7]:
sent[-7:-3]

'is c'

In [9]:
sent[-3:]

'ute'

In [10]:
word[:3]

'Lay'

In [11]:
sent[4:]

'a is cute'

In [12]:
sent[ : ]

'Layla is cute'

In [13]:
sent[ : : 2]

'Lyai ue'

In [14]:
sent[::2]

'Lyai ue'

In [15]:
a = 'Name : Layla'
b = 'StudentID : 20231331'
c = 'Hobby : Study'
d = 'Comment : cute'

In [16]:
" ".join([a, b, c, d])

'Name : Layla StudentID : 20231331 Hobby : Study Comment : cute'

In [17]:
text = """Guard: What? Ridden en a horse?
Queen Raiden: Yes!
Guard: You're using coconuts!
Queen Raiden: What?
Guard: You've Got...coconuts[s] and you're banangun' em together
"""

In [18]:
text.splitlines()[::2]

['Guard: What? Ridden en a horse?',
 "Guard: You're using coconuts!",
 "Guard: You've Got...coconuts[s] and you're banangun' em together"]

In [21]:
print(str(text.splitlines()[::2]).replace("Guard", "Yae Miko"))

['Yae Miko: What? Ridden en a horse?', "Yae Miko: You're using coconuts!", "Yae Miko: You've Got...coconuts[s] and you're banangun' em together"]

In [22]:
'{} is cute!'.format('layla')

'layla is cute!'

In [23]:
text = """
{0}은 매우 매우 착하고 귀엽고 사랑스럽습니다.
이 사악한 {1}은 {0}을 괴롭히는 원인 중 하나입니다.""".format("레일라", "나히다")

In [24]:
text

'\n레일라은 매우 매우 착하고 귀엽고 사랑스럽습니다.\n이 사악한 나히다은 레일라을 괴롭히는 원인 중 하나입니다.'

In [25]:
"나히다는 {age}살 이상이다.".format(age=500)

'나히다는 500살 이상이다.'

In [26]:
"나는 나의 통장 잔고가 {:,}이면 좋겠다".format(9999999999999999999)

'나는 나의 통장 잔고가 9,999,999,999,999,999,999이면 좋겠다'

In [28]:
"i Remember {0:.3}, {0:.3%} is days".format(7/18281)

'i Remember 0.000383, 0.038% is days'

In [29]:
'i know {0:.3%} {0:.3}'.format(7/17721)

'i know 0.040% 0.000395'

In [41]:
'i know {0:.3%} {0:.2f}'.format(7/17721)

'i know 0.040% 0.00'

In [30]:
'My nick ID is {0:06d}'.format(12)

'My nick ID is 000012'

In [31]:
'My love number is %d' % 7

'My love number is 7'

In [35]:
'%(name)s is very cute, but her sleep time is %(time).2f' % {'name':'Layla', 'time' : 1.16321212}

'Layla is very cute, but her sleep time is 1.16'

In [37]:
f"생일 축하해 {'layla'}!!"

'생일 축하해 layla!!'

In [38]:
import re

In [43]:
xc = re.match(pattern='\d{10}', string='1234567890')
xc

In [46]:
xc.groups

In [47]:
if(bool(xc)):
    print("match")
else:
    print("un match")

match

In [48]:
xc.start()

0

In [49]:
xc.end()

10

In [50]:
xc.span()

(0, 10)

In [51]:
xc.groups

In [53]:
xc.group()

'1234567890'

In [54]:
a = re.match(pattern='\d{3}\s\d{4}\s\d{4}', string='123 4567 8901')

In [55]:
a

In [56]:
re.match(pattern='\(\d{3}\)\s\d{3}\-\d{4}', string='(123) 456-7890')

In [57]:
re.match(pattern='\+\d\s\(\d{3}\)\s\d{3}\-\d{4}', string='+1 (123) 456-7890')

In [59]:
re.match(pattern='\D{9}\:\d{4}', string='localhost:8888')

In [60]:
def my_exp(x):
    return x ** 2

def my_exp_c(x, n):
    return x ** n

In [63]:
import pandas as pd

In [64]:
df = pd.DataFrame({
    'a' : [10, 20, 30],
    'b' : [20, 30, 40]
})

In [65]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [66]:
df['a'] ** 2

0    100
1    400
2    900
Name: a, dtype: int64

In [67]:
df['a'].apply(my_exp)

0    100
1    400
2    900
Name: a, dtype: int64

In [69]:
df['a'].apply(my_exp_c, n= 10)

0        10000000000
1     10240000000000
2    590490000000000
Name: a, dtype: int64

In [70]:
printme = lambda x : print(x)

In [71]:
df.apply(printme)

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64

a    None
b    None
dtype: object

In [72]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [75]:
df.apply(printme, axis=1)

a    10
b    20
Name: 0, dtype: int64
a    20
b    30
Name: 1, dtype: int64
a    30
b    40
Name: 2, dtype: int64

0    None
1    None
2    None
dtype: object

In [76]:
def meani(data, conf):
    sum = 0
    for i in data:
        sum += i
    if(conf == 0):
        return sum / df.shape[0]
    else:
        return sum / df.shape[1]

In [77]:
df.apply(meani, conf=0)

a    20.0
b    30.0
dtype: float64

In [78]:
df.apply(meani, conf=1, axis=1)

0    15.0
1    25.0
2    35.0
dtype: float64

In [80]:
import numpy as np

In [81]:
df.agg(np.mean, axis=1)

0    15.0
1    25.0
2    35.0
dtype: float64

In [82]:
df.agg(np.mean, axis=0)

a    20.0
b    30.0
dtype: float64

In [84]:
import seaborn as sns

In [85]:
df = sns.load_dataset("titanic")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [86]:
def getNan(data):
    return pd.isnull(data).sum()

df.apply(getNan)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [88]:
def getpp(data):
    return (pd.isnull(data).sum()) / data.size

In [89]:
df.apply(getpp)

survived       0.000000
pclass         0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
fare           0.000000
embarked       0.002245
class          0.000000
who            0.000000
adult_male     0.000000
deck           0.772166
embark_town    0.002245
alive          0.000000
alone          0.000000
dtype: float64

In [87]:
def getPre(data):
    return (pd.isnull(data).sum()) / len(data)

df.apply(getPre)

survived       0.000000
pclass         0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
fare           0.000000
embarked       0.002245
class          0.000000
who            0.000000
adult_male     0.000000
deck           0.772166
embark_town    0.002245
alive          0.000000
alone          0.000000
dtype: float64

In [91]:
def getPre(data):
    return ((pd.isnull(data).sum()) / len(data)) * 100

df.apply(getPre)

survived        0.000000
pclass          0.000000
sex             0.000000
age            19.865320
sibsp           0.000000
parch           0.000000
fare            0.000000
embarked        0.224467
class           0.000000
who             0.000000
adult_male      0.000000
deck           77.216611
embark_town     0.224467
alive           0.000000
alone           0.000000
dtype: float64

In [92]:
def notNaNpre(data):
    return 1 - ((pd.isnull(data).sum()) / len(data))

df.apply(notNaNpre)

survived       1.000000
pclass         1.000000
sex            1.000000
age            0.801347
sibsp          1.000000
parch          1.000000
fare           1.000000
embarked       0.997755
class          1.000000
who            1.000000
adult_male     1.000000
deck           0.227834
embark_town    0.997755
alive          1.000000
alone          1.000000
dtype: float64

In [93]:
def notNaNpre(data):
    return (1 - ((pd.isnull(data).sum()) / len(data))) * 100

df.apply(notNaNpre)

survived       100.000000
pclass         100.000000
sex            100.000000
age             80.134680
sibsp          100.000000
parch          100.000000
fare           100.000000
embarked        99.775533
class          100.000000
who            100.000000
adult_male     100.000000
deck            22.783389
embark_town     99.775533
alive          100.000000
alone          100.000000
dtype: float64