In [2]:
word = 'Layla'
sent = 'Layla is cute'
print(word[0])
print(sent[0])

L
L

In [3]:
sent[0:5]

'Layla'

In [6]:
text = 'the layla is cute beacause she was cute'
text[:]

'the layla is cute beacause she was cute'

In [7]:
text[0:]

'the layla is cute beacause she was cute'

In [8]:
text

'the layla is cute beacause she was cute'

In [9]:
text[0:len(text)]

'the layla is cute beacause she was cute'

In [10]:
text[-7:-3]

'as c'

In [17]:
text[-4:-1]

'cut'

In [18]:
text[-3:]

'ute'

In [19]:
text[:-3]

'the layla is cute beacause she was c'

In [22]:
text[-4:-1]

'cut'

In [23]:
text[-3:]

'ute'

In [24]:
word

'Layla'

In [25]:
word[0:3]

'Lay'

In [27]:
word[:3]

'Lay'

In [28]:
sent[4:]

'a is cute'

In [29]:
sent[:]

'Layla is cute'

In [31]:
sent[::2]

'Lyai ue'

In [33]:
a = 'Name : layla'
b = 'StudentID : 20230000'
c = 'Hobby : Study'
d = 'Comment : Cute'
" ".join([a, b, c, d])

'Name : layla StudentID : 20230000 Hobby : Study Comment : Cute'

In [36]:
text = """Guard: What? Ridden en a horse?
Queen Raiden: Yes!
Guard: You're using coconuts!
Queen Raiden: What?
Guard: You've Got ... coconuts[s] and you're banagin em together
"""
print(text.splitlines()[::2])

['Guard: What? Ridden en a horse?', "Guard: You're using coconuts!", "Guard: You've Got ... coconuts[s] and you're banagin em together"]

In [38]:
str(text.splitlines()[::2]).replace('Guard', 'Yae Miko')

'[\'Yae Miko: What? Ridden en a horse?\', "Yae Miko: You\'re using coconuts!", "Yae Miko: You\'ve Got ... coconuts[s] and you\'re banagin em together"]'

In [40]:
text = "{} is cute!".format("layla")
text

'layla is cute!'

In [41]:
text = """
{name1}은 매우매우 착하고 귀엽고 사랑스럽습니다.
이 사악한 {name2}는 {name1}을 괴롭히는 원인 중 하나입니다.
"""
text.format(name1="레일라", name2="나히다")

'\n레일라은 매우매우 착하고 귀엽고 사랑스럽습니다.\n이 사악한 나히다는 레일라을 괴롭히는 원인 중 하나입니다.\n'

In [43]:
text = """
{0}은 매우매우 착하고 귀엽고 사랑스럽습니다.
이 사악한 {1}는 {0}을 괴롭히는 원인 중 하나입니다.
"""
text.format("레일라", "나히다")

'\n레일라은 매우매우 착하고 귀엽고 사랑스럽습니다.\n이 사악한 나히다는 레일라을 괴롭히는 원인 중 하나입니다.\n'

In [45]:
"나히다는 {a}살 이상이다.".format(a=500)

'나히다는 500살 이상이다.'

In [46]:
"나는 IPAT 자격시험에서 {:,}등을 하고 싶다.".format(1)

'나는 IPAT 자격시험에서 1등을 하고 싶다.'

In [48]:
"나는, 나의 통장 잔고가 {:,}원이 되면 좋겠다".format(999999999999999)

'나는, 나의 통장 잔고가 999,999,999,999,999원이 되면 좋겠다'

In [53]:
"i remember{0:.3} or {0:.3%} of thease days".format(7/67890)
# 주의~ 여기에는 0이 필수로 들어가야 해요~

'i remember0.000103 or 0.010% of thease days'

In [54]:
'My login id is {0:06d}'.format(12)

'My login id is 000012'

In [55]:
'My id code is {0:08d}'.format(12881)

'My id code is 00012881'

In [57]:
text = 'my love number is %d' % 7
text

'my love number is 7'

In [59]:
text = '%s is very cute, but her sleep time is %0.2f' % ('layla', 1.1631212)
text

'layla is very cute, but her sleep time is 1.16'

In [60]:
f"{'layla!'} 생일 축하해!"

'layla! 생일 축하해!'

In [62]:
import re
ax = re.match(pattern='\d{10}', string='1234567890')
ax

In [63]:
ax.group()

'1234567890'

In [64]:
ax.start()

0

In [65]:
ax.end()

10

In [66]:
if(bool(ax)):
    print("match")
else:
    print("mis match")

match

In [67]:
print(ax.start())
print(ax.end())
print(ax.span())
print(ax.group())

0
10
(0, 10)
1234567890

In [68]:
a = re.match(pattern='\d{3}\s\d{4}\s\d{4}', string='123 4567 8901')

In [69]:
a

In [70]:
b = re.match(pattern='\(\d{3}\)\s\d{3}\-\d{4}', string='(123) 456-7890')
b

In [71]:
c = re.match(pattern='\+\d\s\(\d{3}\)\s\d{3}\-\d{4}', string='+1 (123) 456-7890')

In [72]:
c

In [73]:
cx = re.compile('\D{9}\:\d{4}')
cx.match('Localhost:8888')

In [74]:
def my_exp(x):
    return x ** 2

def sel_my_exp(x, n):
    return x ** n

In [76]:
import pandas as pd

In [77]:
df = pd.DataFrame({
    'a' : [10, 20, 30],
    'b' : [20, 30, 40]
})
df

    a   b
0  10  20
1  20  30
2  30  40

In [79]:
df['a'] ** 2

0    100
1    400
2    900
Name: a, dtype: int64

In [80]:
df['a'].apply(my_exp)

0    100
1    400
2    900
Name: a, dtype: int64

In [82]:
df['a'].apply(sel_my_exp, n=10)

0        10000000000
1     10240000000000
2    590490000000000
Name: a, dtype: int64