In [1]:
'I remember {0:.3} or {0:.3%} of, the days'.format(7/67890)

'I remember 0.000103 or 0.010% of, the days'

In [6]:
"My userID is {0:06d}".format(12)

'My userID is 000012'

In [8]:
"My love number is %d" % 7

'My love number is 7'

In [9]:
'%(name)s is very cute, but her sleep time is %(time).2f' % {'name' : "layla", "time" : 1.1631212}

'layla is very cute, but her sleep time is 1.16'

In [10]:
name = 'layla'
month = 12
day = 19
f'{name}! happy birth day! today is {month} / {day}!'

'layla! happy birth day! today is 12 / 19!'

In [11]:
import re

In [13]:
text = '1234567890'
ax = re.match(pattern='\d{10}' , string=text)
ax

In [14]:
if(bool(ax)):
    print("match")
else:
    print("unmatch")

match

In [15]:
print(ax.start())
print(ax.end())
print(ax.span())
print(ax.group())

0
10
(0, 10)
1234567890

In [20]:
string_a = '123 4567 8901'
string_b = '(123) 456 7890'
string_c = '+1 (123) 456-7890'

In [17]:
re.match(pattern='\d{3}\s\d{4}\s\d{4}', string=string_a)

In [18]:
re.match(pattern='\(\d{3}\)\s\d{3}\s\d{4}', string=string_b)

In [21]:
re.match(pattern='\+\d\s\(\d{3}\)\s\d{3}\-\d{4}', string=string_c)

In [23]:
ptn = re.compile('\D{9}\:\d{4}')
ptn.match('localhost:8888')

In [24]:
def exp(x):
    return x ** 2

def exp2(x, n):
    return x ** n

In [25]:
exp(10)

100

In [27]:
exp2(10, 2)

100

In [32]:
import pandas as pd

In [34]:
df = pd.DataFrame({
    'a' : [10, 20, 30],
    'b' : [20, 30, 40]
})
df['a'] ** 2

0    100
1    400
2    900
Name: a, dtype: int64

In [35]:
df['a'].apply(exp)

0    100
1    400
2    900
Name: a, dtype: int64

In [37]:
df['a'].apply(exp2, n = 10)

0        10000000000
1     10240000000000
2    590490000000000
Name: a, dtype: int64

In [39]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [40]:
printme = lambda x : print(x)

In [44]:
df.apply(printme, axis=0)

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64

a    None
b    None
dtype: object

In [49]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [54]:
def printx(m):
    print(m[2])

In [55]:
df.apply(printx)

30
40

a    None
b    None
dtype: object

In [72]:
df.shape[0]

3

In [73]:
def invx(m, shape):
    sum = 0
    for i in m:
        sum += i
    if(shape == 0):
        return sum / df.shape[0]
    elif(shape == 1):
        return sum / df.shape[1]

In [74]:
df.apply(invx, shape=1)

a    30.0
b    45.0
dtype: float64

In [76]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [75]:
df.apply(invx, shape=0)

a    20.0
b    30.0
dtype: float64

In [78]:
(10 + 20 + 30) / 3

20.0

In [79]:
(20 + 30 + 40) / 3

30.0

In [80]:
df.apply(invx, shape=1)

a    30.0
b    45.0
dtype: float64

In [81]:
( 10 + 20 ) / 2

15.0