In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('../data/telephone.csv')

In [3]:
df

         010-6256-3768
0        010.4356.3456
1  +82  (031) 539 1280
2         02-1111-2222
3        010 7657 3022
4   +82  (02) 456-4444
5          02 756 4566
6         064 245 2345

In [6]:
df.columns = ['phone']

In [7]:
df

                 phone
0        010.4356.3456
1  +82  (031) 539 1280
2         02-1111-2222
3        010 7657 3022
4   +82  (02) 456-4444
5          02 756 4566
6         064 245 2345

In [ ]:
df

In [4]:
star = list(df)

In [5]:
star

['010-6256-3768']

In [8]:
df = pd.read_csv('../data/phone.csv')

In [9]:
df

                 Phone
0        010-6256-3768
1        010.4356.3456
2  +82  (031) 539 1280
3         02-1111-2222
4        010 7657 3022
5   +82  (02) 456-4444
6          02 756 4566
7         064 245 2345

In [124]:
star = list(df['Phone'])

In [11]:
star

['010-6256-3768',
 '010.4356.3456',
 '+82  (031) 539 1280',
 '02-1111-2222',
 '010 7657 3022',
 '+82  (02) 456-4444',
 '02 756 4566',
 '064 245 2345']

In [31]:
text = '01'

In [32]:
re.match(pattern='([-.\s])?\d{2}', string=text)

In [89]:
re.match(pattern='(\+)?\d{1,3}[-.\s](\s)?(\()?\d{3,4}[-.\s\)][-.\s]?\d{3,4}[-.\s]\d{3,4}', string='010.4356.3456')

In [87]:
re.match(pattern='\d{3}[-.\s]\d{3,4}[-.\s]\d{3,4}', string='010.4356.3456')

In [85]:
re.match(pattern='(\+)?\d{1,3}[-.\s](\s)?(\()?\d{3,4}[-.\s\)][-.\s]?\d{3,4}[-.\s]\d{3,4}', string='010.4356.3456')

In [76]:
re.match(pattern='(\+)?\d{1,3}[-.\s](\s)?(\()?\d{2,4}[-.\s\)][-.\s]?\d{3,4}[-.\s]\d{3,4}', string='010.4356.3456')

In [92]:
star

['010-6256-3768',
 '010.4356.3456',
 '+82  (031) 539 1280',
 '02-1111-2222',
 '010 7657 3022',
 '+82  (02) 456-4444',
 '02 756 4566',
 '064 245 2345']

In [122]:
u = re.compile(pattern='(\+)?\d{2,3}[-.\s](\s\(\d{2,3}\)\s)?\d{3,4}[-.\s]\d{3,4}')

In [115]:
star.append('+23  523 1234')

In [123]:
for i in star:
    ivy = bool(re.match(pattern=u, string=str(i)))
    print(i) if ivy else print("false")

010-6256-3768
010.4356.3456
+82  (031) 539 1280
02-1111-2222
010 7657 3022
+82  (02) 456-4444
02 756 4566
064 245 2345
+23 123 1234
+23 123 1234
+23 123 1234
false
false

In [90]:
u = re.compile(pattern='(\+)?\d{2,3}[-.\s](\s\(\d{2,3}\)\s)?\d{3,4}[-.\s]\d{3,4}')

In [126]:
for i in star:
    ivy = bool(re.match(pattern=u, string=str(i)))
    print(i) if ivy else print("false")

010-6256-3768
010.4356.3456
+82  (031) 539 1280
02-1111-2222
010 7657 3022
+82  (02) 456-4444
02 756 4566
064 245 2345

In [ ]:
re.match(pattern=m, string[])