In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/phone.csv')

In [4]:
df

                 Phone
0        010-6256-3768
1        010.4356.3456
2  +82  (031) 539 1280
3         02-1111-2222
4        010 7657 3022
5   +82  (02) 456-4444
6          02 756 4566
7         064 245 2345

In [5]:
layla = list(df['Phone'])

In [6]:
layla

['010-6256-3768',
 '010.4356.3456',
 '+82  (031) 539 1280',
 '02-1111-2222',
 '010 7657 3022',
 '+82  (02) 456-4444',
 '02 756 4566',
 '064 245 2345']

In [7]:
import re

In [16]:
for i in layla:
    ax = re.match(pattern='(\+)?\d{2,3}[-.\s](\s\(\d{2,3}\)\s)?\d{3,4}[-.\s]\d{3,4}', string = i)
    print(i if bool(ax) else "error")

010-6256-3768
010.4356.3456
+82  (031) 539 1280
02-1111-2222
010 7657 3022
+82  (02) 456-4444
02 756 4566
064 245 2345